{% extends "layout.html" %}

{% block title %}
    Assets Update
{% endblock %}

{% block main %}
    <form action="/assetsupdate" method="post" class="form-large">
        <table>
            <thead>
                <tr><h5>Input 20 Assets for the Season</h5></tr>
                <tr>
                    <th>Season</th>
                    <th>League</th>
                    <th>Name</th>
                    <th>Profile Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
                <tr>
                    <td><input name="season" type="number" min="89"></td>
                    <td><input name="league" type="text"></td>
                    <td><input name="fullname" type="text"></td>
                    <td><input name="hyperlink" type="url"></td>
                </tr>
            </tbody>
        </table>
        <button class="button primary" type="submit">Submit</button>
    </form>
{% endblock %}
