{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post" class="form-general">
        <div>
            <label for="oldpassword">Input Old Password</label>
            <input  id="oldpassword" name="oldpassword" placeholder="Old Password" type="password">
        </div>
        <div>
            <label for="password">Input New Password</label>
            <input  id="password" name="password" placeholder="New Password" type="password">
        </div>
        <div>
            <label for="confirmation">Confirm New Password</label>
            <input  id="confirmation" name="confirmation" placeholder="New Password (again)" type="password">
        </div>
        <button class="button primary" type="submit">Submit</button>
    </form>
{% endblock %}
